body {
	margin: 0;
}
.main_image {
	height: 100vh;
	position: relative;
	background: url(../images/header_image.png) center/cover no-repeat ;
}

.cover-main_image {
	background: rgba(31, 49, 53, .7);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.position-header_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}

.logo {
	border: 3px solid #FFFFFF;
	padding: 20px 110px;
}
.top-line {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 52px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 2px solid #fff;
}

.bottom-line {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 27px;
	font-weight: 400;
	text-transform: uppercase;
}

.bottom-line span {
	letter-spacing: initial;
}
.header_slogan {
	max-width: 325px;
	font-size: 18px;
	font-style: italic;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	margin: 35px auto 0;
}
.header-scroll_button {
	position: absolute;
	left: 50%;
	bottom: 50px;
	transform: translateX(-50%);
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
}

.navigation {
	position: relative;
	max-width: 1000px;
	margin: 20px auto 0;
}

.navigation_home-page {
	margin-left: 5px;
}
.navigation_button-menu {
	position: absolute;
	right: 0;
	bottom: 0;
	border: 0;
	padding: 0;
	margin-right: 5px;
	background: none;
	cursor: pointer;

}

main {
	max-width: 1000px;
	margin: 130px auto 0;
}
.left-column {
	display: inline-block;
	max-width: 330px;
	margin-right: 95px;
}
.left-column_style {
	margin-top: 0;
	font-weight: 400;
	font-size: 27px;
	line-height: 52px;
	text-transform: uppercase;
	letter-spacing: .5px;
	box-sizing: border-box;
	border-top: 3px solid;
}
.right-column {
	display: inline-block;
	max-width: 570px;
	vertical-align: top;
	
}
.right-column_style {
	margin-top: 0;
	font-size: 18px;
	font-style: italic;
	line-height: 26px;
}
.img-studio {
	max-width: 970px;
	margin: 100px auto 0;
}
.dark_background {
	background-color: #1f3135;
	width: 100%;
	margin: 100px auto 0;
	min-height: 450px;
	color: #fff;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 55px;
}
.before-after_line {
	text-align: center;
	width: auto;
	font-size: 40px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	padding-top: 70px;
	margin-bottom: 70px;
}

.before-after_line::before {
	content: '';
	display: inline-block;
	width: 50px;
	height: 1px;
	background: #fff;
	vertical-align: middle;
	margin-right: 60px;
}
.before-after_line::after {
	content: '';
	display: inline-block;
	width: 50px;
	height: 1px;
	background: #fff;
	vertical-align: middle;
	margin-left: 60px;
}

.description {
	margin: 0 auto;
	max-width: 630px;
	font-size: 18px;
	font-style: italic;
	line-height: 26px;
	margin-bottom: 50px;
}


.footer {
	text-align: center;
	margin-bottom: 60px;
}
.icon {
	border-radius: 50%;
	transform: translateY(-50%);
	border: 2px solid #fff;
}
.quote {
	width: 300px;
	height: 18px;
	margin: auto auto 0;
	font-size: 18px;
	font-style: italic;
	font-style: italic;
	
}
.signature {
	display: inline-block;
	text-align: center;
	width: 85px;
	height: 11px;
	opacity: 0.5;
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
}